<!DOCTYPE html>
<html>
<head>
<title>Detected!!</title>
<meta charset="utf-8"/>
<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,800&amp;display=swap" rel="stylesheet"/>
<link href="/static/custom.css" rel="stylesheet" type="text/css"/></head>
<body>
<p class="result_title">Click Detected Fashion Items!</p>
<div class="brighten">
<img height="512" id="detected" src="./static/result_img.jpg" usemap="#imagemap" width="320"/></div>
<map name="imagemap"><area coords="[105.836426 181.91704  232.18895  485.57004 ]" href="https://www.highsnobiety.com/en-us/shop/product/lemaire-italian-woven-denim-sailor-pants-saltpeter/" shape="rect" target="blank"/><area coords="[ 88.49172  87.63171 230.30069 278.74875]" href="https://www.highsnobiety.com/en-us/shop/product/lemaire-italian-woven-denim-sailor-pants-saltpeter/" shape="rect" target="blank"/></map>
</body>
</html>
